.panel-about {
  text-align: center;
  margin-top: 60px;
}

.panel-about .title {
  color: #252a30;
  font-size: 2.0rem;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 6rem 0 1.8rem; 
  text-align: center;
}

.panel-about .subtitle {
  font-size: 1.6rem;
  text-align: center;
  color: #524e4d;
}