.header {
  background: url(../img/computer.jpg) no-repeat;
  background-size: cover;
  padding-top: 60px;
}

.header .nav-menu {
  text-align: right;
}

.header .nav-menu .nav-item {
  display: inline-block;
  margin: 0 10px 25px 0;
}

.header .nav-menu .nav-item a {
  border-radius: 4px;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.header .nav-menu .nav-item a:hover {
  background-color: #cad5dd;
}